.moodboard-playground

.playground-instructions
    background-image: url('~/assets/images/background.svg')
    background-repeat: no-repeat
    background-position: center
    padding: 1rem
    display: flex
    position: relative
    top: 5%
